.Table {
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  margin-top: 10px;

  tr {
    height: 45px;
    border-bottom: 0.5px solid rgb(146, 146, 146);
  }

  th,
  td {
    padding: 5px;
    text-align: left;
  }

  th,
  td {
    &.coin {
      width: 30%;

      div {
        display: flex;
        align-items: center;
        gap: 5px;

        img,
        .Skeleton--image {
          margin-right: 10px;
        }
      }
    }

    &.price {
      width: 20%;
    }

    &.change1h,
    &.change24h,
    &.change7d {
      width: 10%;
    }

    &.red {
      color: #f44336;
    }

    &.green {
      color: #04aa6d;
    }
  }
}
